extends layout

block body
  div(ng-controller='radarCtrl')
    div(style='width:100%, display:block')
      div(radar data='data' style='float:left')
      div(radar-bars data='data' style='float:left')
  div(ng-controller='configCtrl')
    form(novalidate class='simple-form')
      fieldset(class='main')
        div
          label(for='port') Serial port 
          span(ng-style='statusStyle()')
            {{ statusText() }}
        div
          label(for='step') Step 
          select(id='step' ng-model='config.step' ng-options='s for s in steps')
        div
          label(for='samples') Samples 
          select(id='samples' ng-model='config.sampleSize' ng-options='s for s in samples')
        div
          label(for='range') Range 
          select(id='range' ng-model='config.range' ng-options='r for r in ranges')
        button(ng-click='save(config)').
          Save

  script(src='/socket.io/socket.io.js')
  script(src='js/bundle.js')

